.student-card {
  border: 1px solid #d8e2ef;
  border-radius: 8px;
  padding: 16px;
}

button {
  background: #113f67;
  border: 0;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 12px;
  margin: 16px 8px 0 0;
}
.student-card-inactive {
  border: 1px solid rgb(255, 95, 95);
}
